# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# reading a csv table into a variable
order = pd.read_csv("Orders.csv")
order.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# convert 'amount_spent' column into numeric format
order['amount_spent'] = pd.to_numeric(order['amount_spent'], errors='coerce')

#Group by CustomerID and calculate the total amount spent by customers
customer_expenses = order.groupby('CustomerID')['amount_spent'].sum().dropna()  # Remove NaN values


#Determine the quantile thresholds using qcut
num_quantiles = 3  # Number of quantiles (including the minimum and maximum)
labels = pd.qcut(customer_expenses, q=num_quantiles, labels=["Regular", "Preferred", "VIP"])

# Add the labels to the customer_expenses Series
customer_expenses_labeled = customer_expenses.to_frame(name='customer_expenses')
customer_expenses_labeled['Customer Type'] = labels

# Display the labeled customers
customer_expenses_labeled

# Merge customer_labels DataFrame with customer_expenses DataFrame
order = pd.merge(order, customer_expenses_labeled, left_on='CustomerID', right_index=True)

# Display the DataFrame with Customer Type information
order

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,customer_expenses,Customer Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397816,541801,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,848.55,Preferred
397817,541802,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,Preferred
397818,541803,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,Preferred
397819,541804,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,848.55,Preferred
397820,541805,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,848.55,Preferred

In [ ]:

order['Customer Type'].value_counts()

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [5]:
# Filter the DataFrame to include only VIP customers
vip_customers = order[order['Customer Type'] == 'VIP']

# Group DataFrame by country and count the number of VIP customers in each country
vip_cust_country = vip_customers.groupby('Country').value_counts()

# Find the country with the most VIP customers
most_vip_customers = vip_cust_country.idxmax()
most_vip_customers

# Getting Product space too large to allocate arrays!

ValueError: Product space too large to allocate arrays!

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [6]:
# Filter the DataFrame to include only VIP and both preferred customers
vip_pref_customers = order[order['Customer Type'] == 'VIP']

# Group DataFrame by country and count the number of VIP customers in each country
vip_pref_cust_country = vip_pref_customers.groupby('Country').value_counts()

# Find the country with the most VIP customers
most_vip_pref_customers = vip_pref_cust_country.idxmax()
most_vip_pref_customers

ValueError: Product space too large to allocate arrays!